<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container home-page mb-4">
  <div class="row justify-content-center pb-3">
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Contact Us</h1>
  </div>

  <div class="row justify-content-center pb-2">
    <img src="assets/shared_images/YE_logo26.png" width="150px" height="150px" class="" alt="">
  </div>
  <hr>
  
  <div class="row justify-content-center pt-2 pb-10">
    <div class="col text-center pb-5">
      <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Thank you for letting Yard Expressions make your special day unforgettable, one letter at a time!  
          </p>
          <i class="fa fa-phone" style="font-size:20px;color:rgb(110, 159, 199)"></i><a style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="tel:+9729799562">972-979-9562</a> CALL<br>
          <i class="fa fa-file-o" style="font-size:20px;color:rgb(110, 159, 199)"></i><a style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="sms:+9729799562">972-979-9562</a> TEXT<br>

      <i class="fa fa-envelope" style="font-size:20px;color:rgb(110, 159, 199)"></i><a href="mailto:yardexpressions@yahoo.com">yardexpressions@yahoo.com</a><br>
      <br>
      <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Check out our Facebook group page</p>
      <a href="#" class="fa fa-facebook"></a><a href="https://www.facebook.com/groups/553604185627729" target="_blank">@yard expressions</a>
    </div>

  </div>
</div>
