
<div class="container home-page">
  <div class="row justify-content-center pb-3" style="background-color: #BCECE0;">
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Gallery</h1>
  </div>
  <hr>
  <div class="row justify-content-center pb-3">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Holidays</h2>
  </div>
  <div class="row justify-content-center pt-2 pb-4" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1767.jpg">
      <img src="assets/shared_images/IMG_1767.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-4" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1150.jpg">
      <img src="assets/shared_images/IMG_1150.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-4" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1649.jpg">
      <img src="assets/shared_images/IMG_1649.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pb-1" style="background-color: #BCECE0;">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: white;" class="px-2 rounded">Graduation</h2>
  </div>
  <div class="row justify-content-center pt-2 pb-3" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_3500.jpg">
      <img src="assets/shared_images/IMG_3500.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-3" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1870.jpg">
      <img src="assets/shared_images/IMG_1870.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-3" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1482.jpg">
      <img src="assets/shared_images/IMG_1482.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pb-1" style="background-color: #BCECE0;">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">School Events</h2>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1825.jpg">
      <img src="assets/shared_images/IMG_1825.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1426.jpg">
      <img src="assets/shared_images/IMG_1426.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1676.jpg">
      <img src="assets/shared_images/IMG_1676.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pb-1" style="background-color: #BCECE0;">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Birthday</h2>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_imagesIMG_2679.jpg">
      <img src="assets/shared_images/IMG_2679.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_imagesIMG_1802.jpg">
      <img src="assets/shared_images/IMG_1802.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_imagesIMG_1705.jpg">
      <img src="assets/shared_images/IMG_1705.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_imagesIMG_1602.jpg">
      <img src="assets/shared_images/IMG_1602.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_imagesIMG_1591.jpg">
      <img src="assets/shared_images/IMG_1591.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/ye5.jpeg">
      <img src="assets/shared_images/ye5.jpeg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row justify-content-center pb-1" style="background-color: #BCECE0;">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Special Moments</h2>
  </div>
  <div class="row justify-content-center pt-2 pb-3" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/ye3.jpeg">
      <img src="assets/shared_images/ye3.jpeg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <!-- <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_blank" href="../assets/shared_images/IMG_1146.jpg">
      <img src="assets/shared_images/IMG_1146.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div> -->

  <div class="row justify-content-center pt-2 pb-2" style="background-color: #BCECE0;">
    <a target="_self" href="https://yardexpressionstx.com/a4nodejs">
      <img src="assets/shared_images/IMG_1146.jpg" alt="YE" style="width:450px; height:250px">
    </a>
  </div>
  <div class="row">
    <div class="col">
      <a href="https://yardexpressionstx.com/a4nodejs">Test</a>
    </div>
  </div>


<!-- <div class="row justify-content-center">
  <ngb-carousel>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
          <img src="assets/shared_images/ye1.jpg" alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption"> -->

          <!-- <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          <!-- </div>

      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
          <img src="assets/shared_images/ye2.jpeg" alt="Angular Carousel 2">
          </div>
          <div class="carousel-caption">
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="assets/shared_images/ye3.jpeg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
      <img src="assets/shared_images/ye4.jpeg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
    <img src="assets/shared_images/ye5.jpeg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
    </div>
</ng-template>
      </ngb-carousel>
</div> -->
</div>


