<div class="container home-page mb-4">
  <div class="row justify-content-center pb-3">
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Yard Expressions</h1>
  </div>

  <div class="row justify-content-center pb-2">
    <img src="../assets/shared_images/YE_logo26.png" width="150px" height="150px" class="" alt="">
  </div>

  <div class="row justify-content-center">
    <img src="../assets/shared_images/ye1.jpg" alt="YE" width="400px" height="250px">
  </div>
  
  <div class="row justify-content-center pt-5 pb-10">
    <div class="col text-center pb-5">
      <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Yard Expressions signs will put a smile on everyone’s face.</p>
      <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Our yard greeting includes a 24 hour rental of a personalized phrase, delivery, setup and pick up.</p>
      <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">We will help you celebrate it all such as Birthdays, Graduations, Congratulations, Anniversary, Prom, Engagements, Holidays and School Events.</p>
    </div>

  </div>
</div>