.page-container {
    padding-top: 5rem;
    min-height: 100%;
    width: 100%;
}

.home-page {
    padding-top: 2rem;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #BCECE0;
}

.image-background {
    background-image: url(src/assets/shared_images/YE_logo26.png);
    opacity: .3;
    background-repeat: no-repeat;
    background-size: auto;
}

.page-container {
    position:fixed;
    padding:0;
    margin:0;

    top:10%;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(165, 58, 58, 0.5);
}

.title-text {
    opacity: 100;
}