<div class="container home-page mb-4">
    <div class="row justify-content-center pb-3">
      <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Pricing</h1>
    </div>

    <div class="row justify-content-center pb-2">
      <img src="assets/shared_images/YE_logo26.png" width="150px" height="150px" class="" alt="">
    </div>
    <hr>
    
    <div class="row justify-content-center pt-2 pb-10">
      <div class="col text-center pb-5">
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Pricing is based on our mileage to your location of installation.  
            Based on Google MAPS!
            </p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Starting point is 1207 Platte Drive Mansfield, TX 76063</p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">We service most areas in Mansfield, South Arlington, Kennedale, Burleson, and Midlothian.</p>
        <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>1-10 miles is $85</strong></span><br>
        <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>11-18 miles is $95</strong></span><br>
        <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>19-25 miles $105</strong></span><br>
        <br>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">*Prices include 24 hour rental of a single phrase and name greeting, delivery, set up and pick up.</p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Thank you for choosing Yard Expressions!</p>
      </div>

    </div>
</div>
