


<div class="row justify-content-center">
  <div class="col-12">
    <app-navbar></app-navbar>
    
  </div>
  
    <!-- <div class="row green-strip">
      <img src="../assets/shared_images/ye1.jpg" alt="YE" style="width:250px; height: 100px">
    </div> -->  

</div>



<router-outlet></router-outlet>

<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/shared_images/YE_logo26.png" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/shared_images/YE_logo26.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel>
  
<div class="container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <h1>Yard Expressions</h1>
    </div>
    <div class="row">
      <div class="col-6 pt-5 pl-4">
        <p>This is the future home to yard expressions website.</p>
      </div>
      <div class="col-6 text-right">
        <img src="../assets/shared_images/YE_logo26.png" width="150px" height="150px">
      </div>
    </div>
          
    
  </div>
    
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>
</div>


<router-outlet></router-outlet> -->
