<div class="container home-page mb-4">
    <div class="row justify-content-center pb-3">
      <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">How It Works</h1>
    </div>

    <div class="row justify-content-center pb-2">
      <img src="assets/shared_images/YE_logo26.png" width="150px" height="150px" class="" alt="">
    </div>
    <hr>
    
    <div class="row justify-content-center pt-2 pb-10">
      <div class="col text-center pb-5">

                <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>1. </strong> Your personalized Yard Greeting is a 24 hour rental.  Price will include one phrase, one name and coordinating graphics.</p>

                <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>2. </strong> We will deliver your sign, set it up after dark the night before your special occasion (or during the day of the event if you choose).</p>

                <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>3. </strong> After the celebration, we will pick up the signs that night around 10:00pm (unless other arrangements have been made).</p>

      </div>

    </div>
</div>
